	<% if current_user %>
<h2>
	Blog posts
		<%= link_to image_tag("/images/icons/plus-small.png", :title => "New article", :alt => "+", :border => 0), new_blog_post_path %>
</h2>
	<% end %>

<% for blog_post in @blog_posts %>
	<%= render "blog_post_short", :blog_post => blog_post %>
<% end %>

<div id="pagination">
	<%= will_paginate @blog_posts, :previous_label => "<< Précedent", :next_label => "Suivant >>" %>
</div>