<h2>
	<%= t(:events) %>
	<% if current_user %>
		<%= link_to image_tag("/images/icons/plus-small.png", :title => "New event", :alt => "+", :border => 0), new_event_path %>
	<% end %>
</h2>

<% for event in @events %>
	<div class="event">
	<h3><%= link_to event.quick_desc, event %></h3>
	</div>
<% end %>

<div id="pagination">
	<%= will_paginate @events, :previous_label => "<< #{t(:previous)}", :next_label => "#{t(:next)} >>" %>
</div>