<h2>
	Projets
	<% if current_user %>
		<%= link_to image_tag("/images/icons/plus-small.png", :title => "New", :alt => "+", :border => 0), :action => "new" %>
	<% end %>
</h2>

<% for project in @projects %>
	<%= render "short_project", :project => project %>
<% end %>