<div id="flashes">
<% if flash[:warning] or flash[:notice] %>
	<div id="notice" <% if flash[:warning] %>class="warning"<% end %>>
		<%= flash[:warning] || flash[:notice] %>
	</div>
	<script type="text/javascript">
		setTimeout("new Effect.Fade('notice');", 15000)
	</script>
<% end %>
</div>