<div id="events">
	<%= render "next_events", :events => @events %>
</div>
<div id="posts">
	<%= render "last_posts", :posts => @posts %>
</div>
<div id="tweets">
	<!--<%= render "last_tweets", :tweets => @tweets %>-->
</div>
<div class="clear"></div>
<div class="more">
	
</div>